//general settings

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
    height: 100%;
    color: white;
    font-size: 16px;
}

main {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 70%;
    // margin: 0 auto;
    padding: 0 15%;
    canvas {
        display: inline;
        vertical-align: bottom;
      } 
    .particles-js-canvas-el {
        height: 100vh !important;
    }
      
      /* ---- particles.js container ---- */
    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(#08CBA5, #35B0E6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      } 
}

a {
    &:active { color: white; }
    &:visited { color: white; }
    &:link { color: white; }
}

//main title 
.title {
    z-index: 5;
    h1 {
        font-size: 3.4rem;
        font-weight: 100;
        margin: 0;
        line-height: 1.4;
        .underline {
            text-decoration: underline;
            text-decoration-skip-ink: auto;
        }
    }
}

//social media icons

.social {
    z-index: 5;
    display: flex;
    .fab {
        margin-top: 3rem;
        padding: 0 3rem;
    }
}

//particles.js
  
//media queries 

@media only screen and (max-width: 640px) {
    .title {
        h1 {
            font-size: 2.2rem;
            transition: font-size 0.25s ease;  
        }
    }
}

@media only screen and  (max-width: 320px) {
    .title {
        h1 {
            font-size: 2rem;
            transition: font-size 0.25s ease;  
        }
    }

}
  
  
  
  